<h1>Editing account</h1>
<% form_for(@account) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :accnum %><br />
    <%= f.text_field :accnum %>
  </p>
  <p>
    <%= f.label :accname %><br />
    <%= f.text_field :accname %>
  </p>
  <p>
    <%= f.label :accescrw %><br />
    <%= f.text_field :accescrw %>
  </p>
  <p>
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
<%= link_to 'Show', @account %> |
<%= link_to 'Back', accounts_path %>
